<%= stylesheet_link_tag "intern_project2", "data-turbo-track": "reload" %>
<h1>Intern Project2 turbo frames and stimulus</h1>
<div class="page-container">
  <div class="control-bar">
    <div class="control-section fruits-controls">
      <%= link_to "Fruits", internproject2_fruits_list_path, class: "control-button", data: { turbo_frame: "fruits_square" } %>
      <%= link_to "Orange", internproject2_fruits_detail_path(1), class: "control-button", data: { turbo_frame: "fruits_square" } %>
    </div>
    <div class="control-section vegetables-controls">
      <%= link_to "Vegetables", internproject2_vegetables_list_path, class: "control-button", data: { turbo_frame: "vegetables_square" } %>
      <%= link_to "Lettuce", internproject2_vegetables_detail_path(1), class: "control-button", data: { turbo_frame: "vegetables_square" } %>
    </div>
    <div class="control-section proteins-controls">
      <%= link_to "Proteins", internproject2_proteins_list_path, class: "control-button", data: { turbo_frame: "proteins_square" } %>
      <%= link_to "Steak", internproject2_proteins_detail_path(1), class: "control-button", data: { turbo_frame: "proteins_square" } %>
    </div>
    <div class="control-section drinks-controls">
      <%= link_to "Drinks", internproject2_drinks_list_path, class: "control-button", data: { turbo_frame: "drinks_square" } %>
      <%= link_to "Smoothie", internproject2_drinks_detail_path(1), class: "control-button", data: { turbo_frame: "drinks_square" } %>
    </div>
  </div>

  <div class="grid-container">
    <%# Each turbo_frame_tag loads initial content from the 'src' path %>
    <%= turbo_frame_tag "fruits_square", src: internproject2_fruits_list_path %>
    <%= turbo_frame_tag "vegetables_square", src: internproject2_vegetables_list_path %>
    <%= turbo_frame_tag "proteins_square", src: internproject2_proteins_list_path %>
    <%= turbo_frame_tag "drinks_square", src: internproject2_drinks_list_path %> 
  </div>
</div>